
 <div>
  <header class="p-5 mb-5 bg-secondary text-light">
  <h1>Capturamos la realidad y te la otorgamos en bandeja de plata</h1>
  <p>Todo en <b>Noticias WEB:</b>Mantente informado</p>
<header/>
</div>  


<style>
   header{
     font-family: 'Vast Shadow', cursive;
   }
 
</style>