body{
    margin: auto; 
    max-width: 1600px;
}

main{
  min-height: 80vw;
}

  
   h2{
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 32px;
  }

  div.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mainNoticia{
  padding:30px;
  border: 3px solid rgb(111, 142, 146);
    
}
#mainNoticia h3{    
    font-family: 'Zen Tokyo Zoo', cursive;  
}

#mainNoticia p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: rgb(26, 5, 1);
}